h1{
    text-align: center;
    margin-top: 2vw;
}
.container2{
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 8%;
}
.container2 .row1{
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1100px;
}
.row1 section.col{
	display: flex;
	flex-direction: column;
}
.row1 section.left{
	flex-basis: 35%;
	min-width: 320px;
	margin-right: 60px;
}
.row1 section.right{
	flex-basis: 60%;
}
section.left .contactTitle h2{
	position: relative;
	font-size: 28px;
	color: #ddd;
	display: inline-block;
	margin-bottom: 25px;
}
section.left .contactTitle p{
	font-size: 17px;
	color: #ccc;
	letter-spacing: 1px;
	line-height: 1.9;
	padding-bottom: 22px;
}
section.left .contactInfo{
	margin-bottom: 16px;
}
.contactInfo .iconGroup{
	display: flex;
	align-items: center;
	margin: 25px 0px;
}
.iconGroup .icon{
	width: 45px;
	height: 45px;
	border: 2px solid rgb(169, 255, 255);
	border-radius: 50%;
	margin-right: 20px;
	position: relative;
}
.iconGroup .icon i{
	font-size: 20px;
	color: #ddd;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.iconGroup .details span{
	display: block;
	color: #888;
	font-size: 18px;
}
.iconGroup .details span:nth-child(1){
	text-transform: uppercase;
	color: #ccc;
}

.row1 section.right .messageForm{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 30px;
}
.row1 section.right .inputGroup{
	margin: 18px 0px;
	position: relative;
}
.messageForm .halfWidth{
	flex-basis: 48%;
}
.messageForm .fullWidth{
	flex-basis: 100%;
}
.messageForm input, .messageForm textarea{
	width: 100%;
	font-size: 18px;
	padding: 8px;
    background: rgba(216, 252, 255, 0.034);
    backdrop-filter: blur(12.3px);
    border-radius: .8vw;
    -webkit-backdrop-filter: blur(12.3px);
    border: .2vw solid rgba(224, 252, 255, 0.048);
	color: #ddd;
	outline: none;
}
.messageForm textarea{
	resize: none;
	height: 220px;
	display: block;
}
.inputGroup label{
	position: absolute;
	left: 8px;
	bottom: 8px;
	color: #888;
	font-size: 18px;
	transition: 0.4s;
	pointer-events: none;
}
.inputGroup:nth-child(4) label{
	top: 8px;
    left: 8px;
}
.inputGroup input:focus ~ label, .inputGroup textarea:focus ~ label,
.inputGroup input:valid ~ label, .inputGroup textarea:valid ~ label
{
	transform: translateY(-30px);
	font-size: 16px;
}
.inputGroup button{
	padding: 8px 16px;
	font-size: 18px;
    background: transparent;
	color:  rgb(169, 255, 255);
	border: 2px solid  rgb(169, 255, 255);
	outline: none;
	cursor: pointer;
	transition: 0.4s;
    border-radius: 5vw;
}
.inputGroup button:hover{
	background-color:  rgb(169, 255, 255);
	color:  rgb(0, 0, 0);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	border: 2px solid  rgb(169, 255, 255);
    font-weight: 600;
}
@media(max-width: 1100px){
	.messageForm .halfWidth{
		flex-basis: 100%;
	}
}
@media(max-width: 900px){
	.container1 .row1{
		flex-wrap: wrap;
	}
	.row1 section.left, .row1 section.right{
		flex-basis: 100%;
		margin: 0px;
	}

	.container2 .row1{
		flex-flow: column nowrap;
	}
}