@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: .6rem;
  }
  
  ::-webkit-scrollbar-track {
    background: #3f3f3f;
    border-radius: 1vw;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #b5fffb46;
    border-radius: 1vw;
    transition: .4s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #bbf5ffcc;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    letter-spacing: .4px;
}

body{
    background: #070707;
    overflow-x: hidden;
    position: relative;
   
}

.home{
    z-index: -1;
}


header{
    width: 100%;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
}

div.logo{
    position: absolute;
    top: auto;
    left: 5vw;
    color: #fff;
    font-size: 4vw;
    font-weight: 600;
    visibility: hidden;
}


div.menu{
    position: absolute;
    top: auto;
    right: 5vw;
    visibility: hidden;
}
 
div.menu button{
    background: transparent;
}

div.menu button img {
    width: 5vw;
}

header ul{
    padding: 0 4vw;
    width: 60vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header ul a {
text-decoration: none;
font-size: 1.2vw;
font-weight: 600;
color: #fff8;
transition: .6s ease-in-out;
}

a:hover{
    color: #fff;
}

div.phone{
    position: absolute;
    background: rgba(216, 252, 255, 0.034);
    backdrop-filter: blur(12.3px);
    border-radius: 1vw;
    -webkit-backdrop-filter: blur(12.3px);
    border: .2vw solid rgba(224, 252, 255, 0.048);
    top: 10vw;
    right: 0;
    z-index: 888;
    visibility: hidden;
}

div.phone ul{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 2vw;
    padding: 6vw 12vw;
}

@media(max-width: 1110px){
    header ul a {
        font-size: 1.7vw;
    }
}


@media(max-width: 850px){
    header ul a {
        font-size: 1.9vw;
    }
    header{
        height: 7vw;
    }
}

@media(max-width: 650px){
    header ul a {
        font-size: 2.5vw;
        padding: 2vw;
    }
    header{
        height: 8vw;
    }
}
@media(max-width: 550px){
    header ul a {
        font-size: 2.8vw;
    }
    header{
        height: 10vw;
    }
}
@media(max-width: 500px){
    header .nav{
        visibility: hidden;
    }

    div.menu ,
    div.logo{
        visibility: visible;
    }

    div.phone{
        visibility: visible;
    }

}
@media(max-width: 450px){
   
    div.menu {
        right: 7vw;
    }
    div.logo{
        left: 7vw;
    }

    div.menu button img {
        width: 6vw;
    }
    
    div.logo{
        font-size: 4.5vw;
    }

    header{
        height: 13vw;
    }

    header ul li a {
        font-size: 3vw;
    }
}

@media(max-width: 400px){
    header ul li a {
        font-size: 4vw;
    }
}

spline-viewer{
    width: 100vw;
}



.about-sec .animated-text{
        white-space: nowrap;
        animation: animateText 25s linear infinite;
        font-size: 1.5vw;
}
@keyframes animateText{
    100%{
        translate: -50% 0;
    }
}

.about-sec .animated-text h1{
    font-weight: 500;
    color: #d6f5ff;
    text-transform: uppercase;
}

@media(max-width: 1000px){
    
.about-sec .animated-text{
    font-size: 2vw;
}
}

@media(max-width: 460px){
    
    .about-sec .animated-text{
        font-size: 2.5vw;
    }
    }
    
.about-main{
    width: 100%;
    text-align: center;
    padding: 5vw 3vw ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    column-gap: 2vw;
    color: #fff;
}

.about-main p{
    width: 70vw;
    line-height: 1.99;
    font-size: 1.3vw;
    color: rgba(255, 255, 255, 0.938);
}

.about-main h1,
section.service h1,
.work h1,
.contacts h1{
    font-size: 4vw;
    padding: 2vw 0;
    text-transform: uppercase;
}



.stuff {
    padding: 1vw 3vw;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    }
    
.stuff .item{
background: rgba(216, 252, 255, 0.034);
backdrop-filter: blur(12.3px);
border-radius: 1vw;
-webkit-backdrop-filter: blur(12.3px);
border: .2vw solid rgba(224, 252, 255, 0.048);
display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    column-gap: 2vw;
    color: #fff;
    padding: 2.5vw 0;
    transition: .3s ease-in-out;
}

.stuff .item h2{
font-size: 3.5vw;
background: -webkit-linear-gradient(150deg ,#fff, #aaf9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stuff .item:hover{
  border: .2vw solid rgba(224, 252, 255, 0.514);
  box-shadow: 0 0 .8vw 0 #aaf9ff5d;
}

.stuff .item span{
    font-size: 1.6vw;
}

@media(max-width: 1200px){
    .content p,
    .about-main p{
        font-size: 1.6vw;
    }
    
   

    }
    @media(max-width: 1100px){
        .content p,
        .about-main p{
            font-size: 1.8vw;
        }
        
        .about-main h1,
        section.service h1,
        .work h1,
        .contacts h1{
            font-size: 4vw;
        }
    
      
        .stuff .item h2{
        font-size: 3.5vw;
        }
    
        }
    


    
    
    
@media(max-width: 800px){
    .content p,
    .about-main p{
        font-size: 2.3vw;
    }
    
    .about-main h1,
    section.service h1,
    .work h1,
    .contacts h1{
        font-size: 5vw;
    }
    .stuff .item span{
        font-size: 1.8vw;
    }
  
    .stuff .item h2{
    font-size: 4vw;
    }

    }
    
    
@media(max-width: 550px){
    .content p,
    .about-main p{
        font-size: 2.8vw;
        width: 90vw;
    }
    
    .about-main h1,
    section.service h1,
    .work h1,
    .contacts h1{
        font-size: 6vw;
    }

    .stuff .item span{
        font-size: 2.3vw;
    }
    
  
    .stuff .item h2{
    font-size: 5vw;
    }

    
.stuff {

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
    }
    

    }

    @media(max-width: 480px){
        .content p,
        .about-main p{
            font-size: 3.3vw;
        }
        
        .about-main h1,
        section.service h1,
        .work h1,
        .contacts h1{
            font-size: 7vw;
        }
    
        .stuff .item span{
            font-size: 2.4vw;
        }
        
      
        .stuff .item h2{
        font-size: 5vw;
        }
    
        }
    

        @media(max-width: 400px){
            .content p,
            .about-main p{
                font-size: 3.8vw;
                width: 80vw;
            }         
            
            .about-main h1,
            section.service h1,
            .work h1,
            .contacts h1{
                font-size: 7vw;
            }
        
            .stuff .item span{
                font-size: 3vw;
            }
            
          
            .stuff .item h2{
            font-size: 5vw;
            }
        
            }
        
    

section.service,
section.work,
section.contacts{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    color: #fff;
}

section.service .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 2vw;
    width: 90vw;
    padding: 2vw 0;
    position: relative;
}

section.service{
    margin-top: 6vw;
}


.box .item{
    background: rgba(216, 252, 255, 0.034);
backdrop-filter: blur(8vw);
border-radius: 1vw;
-webkit-backdrop-filter: blur(19vw);
border: .2vw solid rgba(224, 252, 255, 0.048);
    width: 30%;
    padding: 2vw 3vw;
    position: relative;
}

.box .item img{
    border: .2vw solid rgba(224, 252, 255, 0.274);
    padding: 1vw;
    border-radius: 50%;
    width: 4vw;
    position: absolute;
    top: 1.5vw;
    right: 1.5vw;
}

.box .item h2{
    padding: 1vw;
    font-size: 2vw;
    font-weight: 600;
}

.box .item p{
    font-size: 1.1vw;
    line-height: 1.9;
}

.box .shape{
    position: absolute;
    width: 7vw;
    height: 7vw;
    background: #bbf5ffcc;
    border-radius: 50%;
    filter: blur(5vw);
   
    z-index: -1;
}

.box .one{
    top: 0;
    left: 0;
}

.box .two{
    bottom: 0;
    right: 0;
}

@media(max-width: 1250px){
    .box .item p{
        font-size: 1.4vw;
    }
    
}
@media(max-width: 1050px){
    .box .item p{
        font-size: 1.5vw;
    }
    
}

@media(max-width: 950px){

    .box .item img{
        width: 4.5vw;
    }
    
    .box .item h2{
        font-size: 2.5vw;
    }
    
    .box .item p{
        font-size: 1.4vw;
    }
    }
    
    @media(max-width: 880px){

        .box .item p{
            font-size: 1.8vw;
        }
        }
        
        @media(max-width: 800px){

            .box .item {
                width: 45%;
                height: 42vw;
            }

            .box .item p{
                font-size: 2.4vw;
            }
            
 }
 @media(max-width: 680px){

    .box .item {
        width: 45%;
        height: 49vw;
    }

    .box .item p{
        font-size: 2.6vw;
    }

    .box .item img{
        width: 5.2vw;
    }
    
    .box .item h2{
        font-size: 2.8vw;
    }
    
}
    
@media(max-width: 550px){

    .box .item {
        width: 45%;
        height: 58vw;
    }

    .box .item p{
        font-size: 2.9vw;
    }

    .box .item img{
        width: 5.4vw;
    }
    
    .box .item h2{
        font-size: 3.1vw;
    padding: 3.4vw 1vw;
    }
    
}
@media(max-width: 500px){

    .box .item {
        width: 80%;
        height: auto;
    }

    .box .item p{
        font-size: 3.4vw;
    }

    .box .item img{
        width: 5.7vw;
    }
    
    .box .item h2{
        font-size: 3.9vw;
    }
    
}
@media(max-width: 450px){

    .box .item {
        width: 90%;
        height: auto;
    }

    .box .item p{
        font-size: 3.7vw;
    }

    .box .item img{
        width: 6.1vw;
    }
    
    .box .item h2{
        font-size: 4.2vw;
    }
    
}
    
                      








